Repository meower-media-co/i18n, pull requests merged in 2023-12, with the labels that each got.

#1 Add "Cat Language"
  Meower-Svelte/cat.po
Labels: Meower Svelte, new translation

#6 Add Spanish translation
  Meower-Svelte/es.po
Labels: Meower Svelte, new translation

#2 Add ukranian
  Meower-Svelte/uk.json
  Meower-Svelte/uk.pot
Labels: Meower Svelte, new translation

#10 Add collaboration link and image
  Meower-Svelte/Meower-Svelte.pot
  README.md
Labels: documentation

#13 Translations update from Hosted Weblate
  Meower-Svelte/po/fr.po
Labels: Meower Svelte, updates translation

#14 Translations update from Hosted Weblate
  Meower-Svelte/po/uk.po
Labels: Meower Svelte, new translation

#16 Translations update from Hosted Weblate
  Meower-Website/po/eo.po
Labels: new translation

#19 Translations update from Hosted Weblate
  Meower-Svelte/po/fr.po
Labels: Meower Svelte, updates translation

#20 Translations update from Hosted Weblate
  Meower-Website/po/es.po
Labels: updates translation, Meower Website

#21 Translations update from Hosted Weblate
  Meower-Svelte/po/eo.po
Labels: Meower Svelte, updates translation

#23 Translations update from Hosted Weblate
  Meower-Svelte/po/fr.po
Labels: Meower Svelte, updates translation

#28 Translations update from Hosted Weblate
  Meower-Website/po/nb_NO.po
Labels: new translation, Meower Website

#29 Translations update from Hosted Weblate
  Meower-Svelte/po/eo.po
  Meower-Svelte/po/fr.po
Labels: Meower Svelte, updates translation

#31 Translations update from Hosted Weblate
  Meower-Svelte/po/eo.po
Labels: Meower Svelte, updates translation

#26 Update "Cat Language" translation
  Meower-Svelte/po/el/cat.po
Labels: Meower Svelte, updates translation

#32 Translations update from Hosted Weblate
  Meower-Svelte/po/fr.po
Labels: Meower Svelte, updates translation

#36 Add German translation
  Meower-Svelte/po/de.po
  Meower-Website/po/de.po
Labels: Meower Svelte, new translation, Meower Website
